@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
a,h2{
    color: white;
}
a{
    text-decoration: none;
}

$bg:rgb(31, 28, 28);

.header{
    height: 70px;
    background-color: $bg;
    display: flex;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    justify-content: space-between;

    img{
        height: 100%;
    }
    div{
        width: 100%;
    }
   
    svg{
        margin-right: 1rem;
        font-size: 1.5rem;
        cursor: pointer;
    }
    &:hover{
        color: rgb(152, 150, 146);
    }

    a{
        margin-left: 1.5rem;
        font-size: 1rem;
        font-weight: 300;
    }
}

